<%= form_for @stakeholder_task, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :stakeholder_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stakeholder_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :task_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :task_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions modal-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel',
                stakeholder_tasks_path, :class => 'btn' %>
  </div>
<% end %>
