<%- model_class = StakeholderTask.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:stakeholder_id) %></th>
      <th><%= model_class.human_attribute_name(:task_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stakeholder_tasks.each do |stakeholder_task| %>
      <tr>
        <td><%= link_to stakeholder_task.id, stakeholder_task_path(stakeholder_task) %></td>
        <td><%= stakeholder_task.stakeholder_id %></td>
        <td><%= stakeholder_task.task_id %></td>
        <td><%=l stakeholder_task.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_stakeholder_task_path(stakeholder_task), :class => 'btn btn-mini' %>
          <%= link_to t('.delete', :default => t("helpers.links.delete")),
                      stakeholder_task_path(stakeholder_task),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_stakeholder_task_path,
            :class => 'btn btn-primary' %>
