<%- model_class = @stakeholder_task.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:stakeholder_id) %>:</strong><br>
  <%= @stakeholder_task.stakeholder_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:task_id) %>:</strong><br>
  <%= @stakeholder_task.task_id %>
</p>

<div class="form-actions modal-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              stakeholder_tasks_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_stakeholder_task_path(@stakeholder_task), :class => 'btn' %>
  <%= link_to t('.delete', :default => t("helpers.links.delete")),
              stakeholder_task_path(@stakeholder_task),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
