<%= form_for( [@project, @task], :html => { :class => 'form-horizontal' } ) do |f| %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <% if @task.new_record? %>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_date, :size=> '10', :class => 'span2 datepicker', :value => (@task.start_date.to_date unless @task.start_date.nil?) %>
      <span class="add-on">
        <i class="icon-th"></i>
      </span>
    </div>
  </div>
  <%end%>
  <div class="control-group">
    <%= f.label :end_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_date, :size=> '10', :class => 'span2 datepicker', :value => (@task.end_date.to_date unless @task.end_date.nil?) %>
      <span class="add-on">
        <i class="icon-th"></i>
      </span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :is_milestone, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_milestone, :class => 'check_box' %>
    </div>
  </div>
  
  
  <script type="text/javascript" charset="utf-8">
			var startDate = new Date(2012,1,20);
			var endDate = new Date(2012,1,25);
			$('#dp4').datepicker()
				.on('changeDate', function(ev){
					if (ev.date.valueOf() > endDate.valueOf()){
						$('#alert').show().find('strong').text('The start date can not be greater then the end date');
					} else {
						$('#alert').hide();
						startDate = new Date(ev.date);
						$('#startDate').text($('#dp4').data('date'));
					}
					$('#dp4').datepicker('hide');
				});
			$('#dp5').datepicker()
				.on('changeDate', function(ev){
					if (ev.date.valueOf() < startDate.valueOf()){
						$('#alert').show().find('strong').text('The end date can not be less then the start date');
					} else {
						$('#alert').hide();
						endDate = new Date(ev.date);
						$('#endDate').text($('#dp5').data('date'));
					}
					$('#dp5').datepicker('hide');
				});
				
</script>

  <div class="form-actions modal-actions">
    <% if @task.new_record? %>
      <%= f.submit 'Create Milestone', :class => 'btn btn-primary' %>
    <%else%>
      <%= f.submit 'Update Milestone', :class => 'btn btn-primary' %>
    <%end%>
    
    <%= link_to 'Cancel',
                project_tasks_path(@project), :class => 'btn' %>
  </div>
<% end %>
