<ul>

  <% item.children.each_with_index do |child, index| %>
  
    <%= raw "<div class='modal hide in' id='myModal#{child.id}'>"%>
        <div layout="float: right;">
          <button type="button" class="modal-close close" data-dismiss="modal">×</button>
          <div class="modal-header">
            <h3>Edit Milestone</h3>
          </div>
          <%@task = child%>
          <p><%= render 'tasks/form', :task => @task, :project => @project %></p>
        </div>
    </div>
     
    <li id='category_<%=child.id %>' class="handle">

        <% if child.is_milestone%>
          <div class="details red_task_milestone">
        <%else%>
          <div class="details">
        <%end%>
            <div class="index">
                <%= child.index %>
            </div>
            
            <div class="name">
                <%= truncate(child.name, :length => @title_length, :separator => ' ')%>
            </div>
            
            <% if child.description != nil%>
            <div class="data">
                <%= truncate(child.description, :length => @description_length, :separator => ' ')%>
            </div>
            <%end%>
            
            <%if !child.is_milestone?%>
            <div class="data">
                <i>Start: </i><%= child.start_date.to_date unless child.end_date.nil?%>
            </div>
            <%end%>
            
            <div class="data">
                <i>End: </i><%= child.end_date.to_date unless child.end_date.nil?%>
            </div>
            
            <div class="actions">
                <%= raw"<a class='btn btn-mini' data-toggle='modal' href='#myModal#{child.id}' >Edit</a>"%>
                <%= link_to t('.delete', :default => t("helpers.links.delete")),
                          project_task_path(@project,child),
                          :method => :delete,
                          :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                          :class => 'btn btn-mini btn-danger' %>
            </div>
        </div>
      <%= render  'tasks/single_task' , :item => child unless child.leaf? %>
    </li>
  <% end -%>
</ul>
