    <%= raw "<div class='modal hide in' id='new_task'>"%>
        <div layout="float: right;">
          <button type="button" class="modal-close close" data-dismiss="modal">×</button>
          <div class="modal-header">
            <h3>New Milestone</h3>
          </div>
          <p><%= render 'tasks/form', :task => @task, :project => @project%>
        </div>
     </div>
     

<div id="list_of_tasks">

<div class="sortable-ui">
<ul id='sortable'>
  <% @tasks.roots.each_with_index do |tsk,index|  %>
  
      <%= raw "<div class='modal hide in' id='myRootModal#{tsk.id}'>"%>
        <div layout="float: right;">
          <button type="button" class="modal-close close" data-dismiss="modal">×</button>
          <div class="modal-header">
            <h3>Edit Milestone</h3>
          </div>
          <%@task = tsk%>
          <p><%= render 'tasks/form', :task => @task, :project => @project ,:index => index%></p>
        </div>
     </div>
      
    <li id='category_<%= tsk.id %>' class="handle">

          <% if tsk.is_milestone%>
            <div class="details red_task_milestone">
          <%else%>
            <div class="details">
          <%end%>
         
            <div class="index">
                <%= tsk.index %>
            </div>
            
            <div class="details2">
            <div class="name">
                <%= truncate(tsk.name, :length => @title_length, :separator => ' ')%>
            </div>
            
            <% if tsk.description != nil%>
            <div class="data">
                <%= truncate(tsk.description, :length => @description_length, :separator => ' ')%>
            </div>
            <%end%>
            
            <%if !tsk.is_milestone?%>
            <div class="data">
                <i>Start: </i><%= tsk.start_date.to_date unless tsk.end_date.nil?%>
            </div>
            <%end%>
            
            <div class="data">
                <i>End: </i><%= tsk.end_date.to_date unless tsk.end_date.nil?%>
            </div>
            </div>
            
            <div class="actions">
                <%= raw"<a class='btn btn-mini' data-toggle='modal' href='#myRootModal#{tsk.id}' >Edit</a>"%>
                <%= link_to t('.delete', :default => t("helpers.links.delete")),
                          project_task_path(@project,tsk),
                          :method => :delete,
                          :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                          :class => 'btn btn-mini btn-danger' %>
            </div>
          
          </div>
          <%= render 'tasks/single_task' ,  :item => tsk %>

    </li>
  <% end -%>
</ul>
</div>

</div>

<br/>

<div class="form-actions modal-actions">
  <%= raw"<a class='btn btn-primary' data-toggle='modal' href='#new_task' >Add Milestone</a>"%>
</div>

<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_project_task_path(@project),
            :class => 'btn btn-primary' %>
