<%- model_class = @task.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:project_id) %>:</strong><br>
  <%= @task.project_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:level) %>:</strong><br>
  <%= @task.level %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:parent_task_id) %>:</strong><br>
  <%= @task.parent_task_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @task.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:description) %>:</strong><br>
  <%= @task.description %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:start_date) %>:</strong><br>
  <%= @task.start_date %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:end_date) %>:</strong><br>
  <%= @task.end_date %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:is_milestone) %>:</strong><br>
  <%= @task.is_milestone %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:procurement_method) %>:</strong><br>
  <%= @task.procurement_method %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:budget) %>:</strong><br>
  <%= @task.budget %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:task_index) %>:</strong><br>
  <%= @task.task_index %>
</p>

<div class="form-actions modal-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              project_tasks_path(@task.project_id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_task_path(@task.project_id,@task), :class => 'btn' %>
  <%= link_to t('.delete', :default => t("helpers.links.delete")),
              project_task_path(@task.project_id,@task),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
