<%= form_for([@project, @stakeholder], :html => { :class => 'form-horizontal' }) do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%if params[:view] == 'communication' %>
        <%= f.text_field :name, :class => 'text_field' , :disabled=>true %>
      <%else%>
        <%= f.text_field :name, :class => 'text_field'%>
      <%end%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%if params[:view] == 'communication' %>
        <%= f.text_field :title, :class => 'text_field' , :disabled=>true%>
      <%else%>
        <%= f.text_field :title, :class => 'text_field'%>
      <%end%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :department, :class => 'control-label' %>
    <div class="controls">
      <%if params[:view] == 'communication' %>
        <%= f.text_field :department, :class => 'text_field' , :disabled=>true %>
      <%else%>
        <%= f.text_field :department, :class => 'text_field'%>
      <%end%>
    </div>
  </div>
  
  <% if params[:view] != 'communication' %>
  
  <div class="control-group">
    <%= f.label :project_role, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :project_role, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_resource, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_resource, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_approver, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_approver, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stakeholder_group, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :stakeholder_group, :class => 'text_field' %>
    </div>
  </div>
  
  <%end%>
  
  <div class="control-group">
    <%= f.label :medium, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :medium, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :frequency, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :frequency, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions modal-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    
    
    <% if params[:view] == 'communication' %>
      <%= link_to 'Cancel',
                  project_stakeholders_path(@project, :view => 'communication' ), :class => 'btn' %>
    <%elsif params[:view] == 'resources'%>          
      <%= link_to 'Cancel',
                project_stakeholders_path(@project, :view => 'resources' ), :class => 'btn' %>
    <%else%>
      <%= link_to 'Cancel',
                  project_stakeholders_path(@project, :view => 'stakeholders' ), :class => 'btn' %>
    <%end%>
                
  </div>
<% end %>
