<%- model_class = Stakeholder.new.class -%>

<% if @project.resources.count != 0%>

<table class="table table_no_hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:project_role) %></th>
    </tr>
  </thead>
  <tbody>
    <% @project.resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.project_role %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%else%>
No resources
<%end%>
