<%- model_class = Stakeholder.new.class -%>

<% if @project.stakeholders.count != 0%>

<table class="table table_no_hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:project_role) %></th>
    </tr>
  </thead>
  <tbody>
    <% @project.stakeholders.each do |stakeholder| %>
      <tr>
        <td><%= stakeholder.name %></td>
        <td><%= stakeholder.project_role %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%else%>
  Currently no stakeholders

<%end%>
