<%- model_class = Stakeholder.new.class -%>

<%= raw "<div class='modal hide in' id='new_stakeholder'>"%>
        <div layout="float: right;">
          <button type="button" class="modal-close close" data-dismiss="modal">×</button>
          <div class="modal-header">
            <h3>New Stakeholder</h3>
          </div>
          <p><%= render 'stakeholders/form', :stakeholder => @stakeholder, :project => @project%>
        </div>
     </div>
     

    <div class="well well_page_modal_header">
		  <h3>Project Stakeholders</h3>
    </div>


<br/>

<ul class="nav nav-tabs">
  <% if params[:view] == 'stakeholders'%>
    <li class="active">
  <%else%>
    <li>
  <%end%>
    	<%= link_to 'All Stakeholders' , project_stakeholders_path(@project, :view => 'stakeholders')%>
  </li>
  <% if params[:view] == 'resources'%>
    <li class="active">
  <%else%>
    <li>
  <%end%>
  <%= link_to 'Resources' , project_stakeholders_path(@project, :view => 'resources')%>
  </li>
  
  <% if params[:view] == 'communication'%>
    <li class="active">
  <%else%>
    <li>
  <%end%>
    	<%= link_to 'Communication' , project_stakeholders_path(@project, :view => 'communication')%>
  </li>
</ul>


<% @stakeholders.each do |stakeholder| %>
    <%= raw "<div class='modal hide in' id='stakeholder#{stakeholder.id}'>"%>
        <div layout="float: right;">
          <button type="button" class="modal-close close" data-dismiss="modal">×</button>
          <div class="modal-header">
            <h3>Edit</h3>
          </div>
          <%@stakeholder = stakeholder%>
          <p><%= render 'stakeholders/form', :stakeholder => @stakeholder, :project => @project%></p>
        </div>
     </div>
<%end%>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:department) %></th>
      
      <% if params[:view] == 'communication' %>
        <th><%= model_class.human_attribute_name(:preffered_method) %></th>
        <th><%= model_class.human_attribute_name(:frequency) %></th>
      <%else%>
        <th><%= model_class.human_attribute_name(:project_role) %></th>
        <th><%= model_class.human_attribute_name(:stakeholder_group) %></th>
        <th><%= model_class.human_attribute_name(:is_resource) %></th>
        <th><%= model_class.human_attribute_name(:is_approver) %></th>
      <%end%>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stakeholders.each do |stakeholder| %>
      <tr>
        <td><%= link_to stakeholder.name, project_stakeholder_path(@project,stakeholder) %></td>
        <td><%= stakeholder.title %></td>
        <td><%= stakeholder.department %></td>
         <% if params[:view] == 'communication' %>
          <td><%= stakeholder.medium %></td>
          <td><%= time_ago_in_words(Time.now - stakeholder.frequency.days) unless stakeholder.frequency.nil? %></td>     
         <%else%>
          <td><%= stakeholder.project_role %></td>
          <td><%= stakeholder.stakeholder_group %></td>
          <td><%= stakeholder.is_resource %></td>
          <td><%= stakeholder.is_approver %></td>
        <%end%>
        <td>
          <%= raw"<a class='btn btn-mini' data-toggle='modal' href='#stakeholder#{stakeholder.id}' >Edit</a>"%>
          <%= link_to t('.delete', :default => t("helpers.links.delete")),
                      project_stakeholder_path(@project,stakeholder),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' unless params[:view] == 'communication'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<div class="form-actions modal-actions">
  <%= raw"<a class='btn btn-primary' data-toggle='modal' href='#new_stakeholder' >New Stakeholder</a>"%>
</div>

