<%- model_class = @stakeholder.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:project_id) %>:</strong><br>
  <%= @stakeholder.project_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @stakeholder.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:title) %>:</strong><br>
  <%= @stakeholder.title %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:department) %>:</strong><br>
  <%= @stakeholder.department %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:project_role) %>:</strong><br>
  <%= @stakeholder.project_role %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:is_resource) %>:</strong><br>
  <%= @stakeholder.is_resource %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:is_approver) %>:</strong><br>
  <%= @stakeholder.is_approver %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:stakeholder_group) %>:</strong><br>
  <%= @stakeholder.stakeholder_group %>
</p>

<div class="form-actions modal-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              project_stakeholders_path(@stakeholder.project_id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_stakeholder_path(@stakeholder.project_id, @stakeholder), :class => 'btn' %>
  <%= link_to t('.delete', :default => t("helpers.links.delete")),
              project_stakeholder_path(@stakeholder.project_id, @stakeholder),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
