<%= form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :Cost_centre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cost_centre, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :budget, :class => 'control-label' %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :budget, :class => 'text_field' %>
        <span class="add-on">$</span>
      </div>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :Contingency, :class => 'control-label' %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :contingency, :class => 'text_field' %>
        <span class="add-on">$</span>
      </div>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :budget_accuracy, :class => 'control-label' %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :budget_accuracy, :class => 'text_field' %>
      <span class="add-on">%</span>
      </div>
    </div>
  </div>
  
  
  
  <div class="form-actions modal-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel',
                project_path(@project), :class => 'btn' %>

  </div>
<% end %>
