<%= form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :responsible_group, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :responsible_group, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cost_centre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cost_centre, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :purpose, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :purpose, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions modal-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel',
                project_path(@project), :class => 'btn' %>
  </div>
<% end %>
