<%= form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :responsible_group, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :responsible_group, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cost_centre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cost_centre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :budget, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :budget, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contingency, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contingency, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :budget_accuracy, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :budget_accuracy, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :start_date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :end_date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :procurement_strategy, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :procurement_strategy, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :purpose, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :purpose, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions modal-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel',
                projects_path, :class => 'btn' %>
  </div>
<% end %>
