<div class="row">

<div class="span8">

<div class="row">
  <div class="span8">
    <div class="well no-border text-center well_overview_header">
         <h4><%= @project.title%></h4>    
		</div>
  </div>
</div>


<div class="row">
  
  <div class="span4">
	  <div class="overview_well ">
		  <a data-toggle="modal" href="#project_details" style="">
		  	<div class="well well_details_details">
         <h4>Project Details</h4>
          <br/>
    	    <i>Title: </i><%= @project.title%>
    	    <br/>
    	    <i>Responsible group: </i><%= @project.responsible_group%>
    	    <br/>
    	    <i>Cost centre: </i><%= @project.cost_centre%>
    	    
			  </div>
		  </a>
	  </div>
  </div>
  
    <div class="span4">
	  <div class="overview_well">
		  <a data-toggle="modal" href="#project_scope" style="">
		  	<div class="well well_details_details overview_well_details2">
         <h4>Scope</h4>
          <%if @project.description!=nil%>
            <br/>
    	      <%= @project.description%>
    	    <%else%>
    	      <br/>
    	      Currently no scope defined
    	    <%end%>
    	     <br/>
    	      <br/>
			  </div>
		  </a>
	  </div>
  </div>
</div>


<div class="row">
  <div class="span3">
	  <div class="overview_well">
		  <a data-toggle="modal" href="#project_cost" style="">
		  	<div class="well well_details">
         <h4>Cost</h4>
         <br/>
         <i>Budget: </i>
         <%= number_to_currency(@project.budget) unless @project.budget.nil?%> 
         <br/>
         <i>Contingency: </i><%= number_to_currency(@project.contingency) unless @project.contingency.nil?%>
         <br/>
         <i>Budget accuracy: </i><%= number_to_percentage(@project.budget_accuracy, :precision => 1 ) unless @project.budget_accuracy.nil?%>

			  </div>
		  </a>
	  </div>
  </div>
  
  <div class="span2">
	  <div class="overview_well">
		  <a data-toggle="modal" href="#project_scheadule" style="">
		  	<div class="well well_details">
         <h4>Schedule</h4>
          <br/>
    	    <i>Start date: </i><%= @project.start_date%>
    	    <br/>
    	    <i>End date: </i><%= @project.start_date%>
			  </div>
		  </a>
	  </div>
  </div>
  
    <div class="span3">
	  <div class="overview_well">
		  <a data-toggle="modal" href="#project_procurement" style="">
		  	<div class="well well_details overview_well_procurement">
         <h4>Procurement</h4>
          <br/>
         <%if @project.description!=nil%>
    	      <%= @project.procurement_strategy%>
    	    <%else%>
    	      Currently no procurement
    	    <%end%>
           <br/>
            <br/>
			  </div>
		  </a>
	  </div>
  </div>
  
  
</div>

<div class="row">
  <div class="span4">
	  <div class="overview_well ">
		  <a data-toggle="modal" href=<%= "'" +  project_stakeholders_path(@project, :view => 'stakeholders').to_s +  "'"%> style="">
		  	<div class="well well_details_table overview_well_table">
         <h4>Stakeholders</h4>
         <br/>
         <%= render :partial => 'stakeholders/stakeholders_overview'%>
			  </div>
		  </a>
	  </div>
  </div>
  
  <div class="span4">
	  <div class="overview_well ">
		  <a data-toggle="modal" href=<%= "'" +  project_stakeholders_path(@project, :view => 'resources').to_s +  "'"%>  style="">
		  	<div class="well well_details_table">
         <h4>Resources</h4>
          <br/>
    	     <%= render :partial => 'stakeholders/resources_overview'%>
			  </div>
		  </a>
	  </div>
  </div>

</div>

<div class="row">
  <div class="span4">
	  <div class="overview_well ">
		  <a data-toggle="modal" href=<%= "'" +  project_stakeholders_path(@project, :view => 'communication').to_s +  "'"%> style="">
		  	<div class="well well_details_table">
         <h4>Communication</h4>
         <br/>
         <%= render :partial => 'stakeholders/communication_overview'%>
			  </div>
		  </a>
	  </div>
  </div>


  <div class="span4">
	  <div class="overview_well">
		  <a data-toggle="modal" href=<%= "'" + project_risks_path(@project).to_s +  "'"%> style="">
		  	<div class="well well_details_table">
         <h4>Risks</h4>
         <br/>
          <%= render :partial => 'risks/risk_overview'%>

			  </div>
		  </a>
	  </div>
  </div>
</div>
  
  </div>
</div>


<div class='modal hide in' id='project_details'>
        <div layout="float: right;">
          <div class="twitter bootstrap">
            <button type="button" class="modal-close close" data-dismiss="modal">×</button>
            <div class="modal-header">
              <h3>Project Details</h3>
            </div>
          </div>
          <p><%= render 'details', :project => @project %></p>
        </div>
     </div>
     
<div class='modal hide in' id='project_scope'>
        <div layout="float: right;">
          <div class="twitter bootstrap">
            <button type="button" class="modal-close close" data-dismiss="modal">×</button>
            <div class="modal-header">
              <h3>Project Scope</h3>
            </div>
          </div>
          <p><%= render 'scope', :project => @project %></p>
        </div>
     </div>
     
<div class='modal hide in' id='project_cost'>
        <div layout="float: right;">
          <div class="twitter bootstrap">
            <button type="button" class="modal-close close" data-dismiss="modal">×</button>
            <div class="modal-header">
              <h3>Project Cost</h3>
            </div>
          </div>
          <p><%= render 'cost', :project => @project %></p>
        </div>
     </div>
     
<div class='modal hide in' id='project_scheadule'>
        <div layout="float: right;">
          <div class="twitter bootstrap">
            <button type="button" class="modal-close close" data-dismiss="modal">×</button>
            <div class="modal-header">
              <h3>Project Schedule</h3>
            </div>
          </div>
          <p><%= render 'schedule', :project => @project %></p>
        </div>
     </div>
     
<div class='modal hide in' id='project_procurement'>
        <div layout="float: right;">
          <div class="twitter bootstrap">
            <button type="button" class="modal-close close" data-dismiss="modal">×</button>
            <div class="modal-header">
              <h3>Project Procurement</h3>
            </div>
          </div>
          <p><%= render 'procurement', :project => @project %></p>
        </div>
     </div>
     
     
<div class="row">

<div class="span8 well">

		<p>
			<%= link_to t('.Create_Project_Charter'),
            charter_project_path,
            :class => 'btn btn-success btn-large' %>
    </p>

</div>

</div>
