<%= form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :procurement_strategy, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :procurement_strategy, :class => 'text_area' %>
    </div>
  </div>
  
  <div class="form-actions modal-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel',
                project_path(@project), :class => 'btn' %>
  </div>
<% end %>
