<%= form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_date, :size=> '10', :class => 'span2 datepicker', :value => (@project.start_date.to_date unless @project.start_date.nil?) %>
      <span class="add-on">
        <i class="icon-th"></i>
      </span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_date, :size=> '10', :class => 'span2 datepicker', :value => (@project.end_date.to_date unless @project.end_date.nil?) %>
      <span class="add-on">
        <i class="icon-th"></i>
      </span>
    </div>
  </div>
  
  <div class="form-actions modal-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel',
                project_path(@project), :class => 'btn' %>
  </div>
<% end %>
