<%- model_class = Project.new.class -%>

<div class="row">
<div class="span8 well well_pdf_headline">
<h2>Project Charter</h2>
<h1><%= @project.title%></h1>
</div>
</div>

<div class="row">
  <div class="span8">
  
	<div class="well well_data">
    <b>Responsible group: </b><%= @project.responsible_group%>
    <br/>
    <b>Cost centre: </b><%= @project.cost_centre%>
    <% @project.key_sponsors.each do |sponsor| %>
      <br/>
      <b>Project Sponsor: </b><%= sponsor.name%>
    <%end%>
    <% @project.key_managers.each do |manager| %>
      <br/>
      <b>Project Manager: </b><%= manager.name%>
    <%end%>
    
	</div>
  
	<div class="well well_charter_headline">
		<p><h2>Project Purpose</h2></p>
	</div>
	
  <div class="well well_data">
		<%= @project.purpose %>
	</div>

	<div class="well well_charter_headline">
		<p>
		<h2>Stakeholders</h2>
		</p>
		<p>
    		<h3>Key Stakeholders<h3>
		</p>
	</div>
  
  <div class="well well_data">
		<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:department) %></th>
      <th><%= model_class.human_attribute_name(:project_role) %></th>
	  <th><%= model_class.human_attribute_name(:stakeholder_group) %></th>
    </tr>
  </thead>
  <tbody>
    <% @project.key_stakeholders.each do |stakeholder| %>
      <tr>
        <td><%= stakeholder.name%></td>
        <td><%= stakeholder.title %></td>
        <td><%= stakeholder.department %></td>
        <td><%= stakeholder.project_role %></td>
        <td><%= stakeholder.stakeholder_group %></td>
      </tr>
    <% end %>
  </tbody>
</table>
	</div>
  
  
  <div class="well well_charter_headline">
		
		<p><h2>Scope</h2></p>
		
		<p>
    		<h3>Project Description<h3>
		</p>
	</div>
 

  <div class="well well_data">
		<%= @project.description %>
	</div>

  
  <div class="well well_charter_headline">
		<p>
    		<h3>Work Breakdown Structure<h3>
		</p>
	</div>
  
  <div class="well well_data">
    <table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:index) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:is_milestone) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <%if task.is_milestone == true %>
        <tr class="red_milestone">
      <%else%>
        <tr>
      <%end%>
        <td><%= task.index %></td>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.is_milestone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>

  <div class="well well_charter_headline">
    <p><h2>Cost</h2></p>
	</div>
 
  <div class="well well_data">
		<b>Budget: </b><%= number_to_currency(@project.budget) unless @project.budget.nil?%>
         <br/>
         <b>Contingency: </b><%= number_to_currency(@project.contingency) unless @project.contingency.nil?%>
         <br/>
         <b>Budget accuracy: </b><%= number_to_percentage(@project.budget_accuracy, :precision => 0) %>
	</div>
  
  <div class="well well_charter_headline">
    <p><h2>Scheadule</h2></p>
	</div>
 
  <div class="well well_data">
		<b>Start date: </b><%= @project.start_date%>
    <br/>
    <b>End date: </b><%= @project.start_date%>
	</div>
  
  
   <div class="well well_charter_headline">

		<p><h3>Milestones<h3></p>
	</div>
 
  <div class="well well_data">
				<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
    </tr>
  </thead>
  <tbody>
    <% @project.milestones.each do |milestone| %>
      <tr>
        <td><%= milestone.name%></td>
        <td><%= milestone.description %></td>
        <td><%= milestone.start_date.to_date unless milestone.start_date.nil? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
	</div>
  
    <div class="well well_charter_headline">
    <p><h2>Risks</h2></p>
	</div>
 
  <div class="well well_data">
		<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:cost) %></th>
      <th><%= model_class.human_attribute_name(:delay) %></th>
      <th><%= model_class.human_attribute_name(:likelihood) %></th>
      <th><%= model_class.human_attribute_name(:consequence) %></th>
      <th><%= model_class.human_attribute_name(:rating) %></th>
      <th><%= model_class.human_attribute_name(:mitigation) %></th>
    </tr>
  </thead>
  <tbody>
    <% @project.risks.each do |risk| %>
      <tr>
        <td><%= risk.name%></td>
        <td><%= risk.description %></td>
        <td><%= number_to_currency(risk.cost) unless risk.cost.nil? %></td>
        <td><%= time_ago_in_words(Time.now - risk.delay.days) %></td>
        <td><%= risk.likelihood %></td>
        <td><%= risk.consequence %></td>
        <td><%= risk.rating %></td>
        <td><%= risk.mitigation %></td>
      </tr>
    <% end %>
  </tbody>
</table>
	</div>
  
  <div class="well well_charter_headline">
    <p><h2>Procurement Strategy</h2></p>
	</div>
 
  <div class="well well_data">
		<%= @project.procurement_strategy %>
	</div>
  
  <div class="well well_charter_headline">
    <p><h2>Resources</h2></p>
	</div>
 
  <div class="well well_data">
				<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:department) %></th>
      <th><%= model_class.human_attribute_name(:project_role) %></th>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name%></td>
        <td><%= resource.title %></td>
        <td><%= resource.department %></td>
        <td><%= resource.project_role %></td>
      </tr>
    <% end %>
  </tbody>
</table>
	</div>
  
</div>

<div class="row">
<div class="span8 well well_charter_headline">
<p>
<%= link_to 'Return to Project',
            project_path(@project, :view => 'overview'),
            :class => 'btn btn-info btn-large' %>

<input class="btn btn-large" name="commit" type="submit" value="Endorse and Submit for Approval" disabled="disabled">

</p>
</div>
</div>
