<%- model_class = Project.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<br/>
<br/>
    <%= raw "<div class='modal hide in' id='new_project'>"%>
        <div layout="float: right;">
          <button type="button" class="modal-close close" data-dismiss="modal">×</button>
          <div class="modal-header">
            <h3>New Project</h3>
          </div>
          
          <p><%= render 'projects/new_modal', :project => @project%>
        </div>
     </div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.id, project_path(project) %></td>
        <td><%= link_to project.title, project_path(project) %></td>
        <td><%= project.description %></td>
        <td>
          <%= link_to t('.delete', :default => t("helpers.links.delete")),
                      project_path(project),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<%= raw"<a class='btn btn-primary' data-toggle='modal' href='#new_project' >Create New Project</a>"%>

<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_project_path,
            :class => 'btn btn-primary' %>

