<%- model_class = @project.class -%>

<%@view = params[:view]%>

<% if @all_views.include? @view  %>

	  <div class="well well_page_modal_header"> 
	    <h3>
       <% if @view == "details" %>
        Project Details
       <% elsif @view == 'scope' %>
        Scope
       <% elsif @view == 'cost' %>
        Cost
       <% elsif @view == 'schedule' %>
        Schedule
       <% elsif @view == 'procurement' %>
        Procurement 
       <% else %>
       <%end%>
       </h3>
	  </div>

<%end%>
    
   <% if @view == "details" %>
      <%= render :partial => 'details' %>
   <% elsif @view == 'scope' %>
      <%= render :partial => 'scope' %>
   <% elsif @view == 'cost' %>
      <%= render :partial => 'cost' %>
   <% elsif @view == 'schedule' %>
      <%= render :partial => 'schedule' %>
   <% elsif @view == 'procurement' %>
      <%= render :partial => 'procurement' %>
   <% elsif @view == 'overview' %>
      <%= render :partial => 'overview' %>
   <% else %>
      <%= render :partial => 'overview'%>
   <% end %>

