<%= form_for([@project, @risk], :html => { :class => 'form-horizontal' } ) do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cost, :class => 'control-label' %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :cost, :class => 'text_field' %>
        <span class="add-on">$</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :delay, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :delay, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :likelihood, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :likelihood, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :consequence, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :consequence, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mitigation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :mitigation, :class => 'text_area' %>
    </div>
  </div>


  <div class="form-actions modal-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel',
                project_risks_path(@project), :class => 'btn' %>
  </div>
<% end %>
