<%- model_class = Risk.new.class -%>

<% if @project.risks.count != 0%>

<table class="table table_no_hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
    </tr>
  </thead>
  <tbody>
    <% @project.risks.each do |risk| %>
      <tr>
        <td><%= risk.name %></td>
        <td><%= risk.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%else%>
  Currently no risks
<%end%>
