<%- model_class = Risk.new.class -%>

<%= raw "<div class='modal hide in' id='new_risk'>"%>
        <div layout="float: right;">
          <button type="button" class="modal-close close" data-dismiss="modal">×</button>
          <div class="modal-header">
            <h3>New Risk</h3>
          </div>
          <p><%= render 'risks/form', :risk => @risk, :project => @project%>
        </div>
     </div>
     


<div class="well well_page_modal_header">
		  <h3>Risks</h3>
</div>

<% @risks.each do |risk| %>
    <%= raw "<div class='modal hide in' id='risk#{risk.id}'>"%>
        <div layout="float: right;">
          <button type="button" class="modal-close close" data-dismiss="modal">×</button>
          <div class="modal-header">
            <h3>Edit Risk</h3>
          </div>
          <%@risk = risk%>
          <p><%= render 'risks/form', :risk => @risk, :project => @project%></p>
        </div>
     </div>
<%end%>
     
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:cost) %></th>
      <th><%= model_class.human_attribute_name(:delay) %></th>
      <th><%= model_class.human_attribute_name(:likelihood) %></th>
      <th><%= model_class.human_attribute_name(:consequence) %></th>
      <th><%= model_class.human_attribute_name(:rating) %></th>
      <th><%= model_class.human_attribute_name(:mitigation) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @risks.each do |risk| %>
      <tr>
        <td><%= link_to risk.id, project_risk_path(@project,risk) %></td>
        <td><%= link_to risk.name, project_risk_path(@project, risk) %></td>
        <td><%= risk.description %></td>
        <td><%= number_to_currency(risk.cost) unless risk.cost.nil? %></td>
        <td><%= time_ago_in_words(Time.now - risk.delay.days) unless risk.delay.nil? %></td>
        <td><%= risk.likelihood %></td>
        <td><%= risk.consequence %></td>
        <td><%= risk.rating %></td>
        <td><%= risk.mitigation %></td>
        <td>
          <%= raw"<a class='btn btn-mini' data-toggle='modal' href='#risk#{risk.id}' >Edit</a>"%>
          <%= link_to t('.delete', :default => t("helpers.links.delete")),
                      project_risk_path(@project,risk),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions modal-actions">
  <%= raw"<a class='btn btn-primary' data-toggle='modal' href='#new_risk' >Add Risk</a>"%>
</div>
