<%- model_class = @risk.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @risk.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:description) %>:</strong><br>
  <%= @risk.description %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:cost) %>:</strong><br>
  <%= @risk.cost %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:delay) %>:</strong><br>
  <%= @risk.delay %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:likelihood) %>:</strong><br>
  <%= @risk.likelihood %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:consequence) %>:</strong><br>
  <%= @risk.consequence %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:mitigation) %>:</strong><br>
  <%= @risk.mitigation %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:project_id) %>:</strong><br>
  <%= @risk.project_id %>
</p>

<div class="form-actions modal-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              project_risks_path(@risk.project_id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_risk_path(@risk.project_id,@risk), :class => 'btn' %>
  <%= link_to t('.delete', :default => t("helpers.links.delete")),
              project_risk_path(@risk.project_id,@risk),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
