
<%= tasks_to_render = @project.tasks.where("parent_task_id = ?", parent_task_id); nil %>
<%= count = 1; nil %>
<%= while count <= tasks_to_render.size do %>
  <%= task = tasks_to_render.where("level = ?", count); nil %>
  <%= @task_row_number += 1; nil %>
  <%= project_form.fields_for :tasks, task, :child_index => @task_row_number do |task_fields| %>     <!-- may be better way, but using each_with_index spat excess to screen.  -->
    <%= render :partial => "task", :locals => { :index_prefix => index_prefix, :task_fields => task_fields } %>
  <% end %>
   <%= if index_prefix == ""
        child_index_prefix = count.to_s() + "."
      else
        child_index_prefix = index_prefix + count.to_s() + "."
      end; nil %>
  <%= render :partial => "render_child_tasks", :locals => { :project_form => project_form, :parent_task_id => tasks_to_render.where("level = ?", count).first, :index_prefix => child_index_prefix } %>
  <%= count += 1; nil %>
<% end %>



