<tr>
 <td><%= task_fields.object.id %></td>
 <td><% index_prefix  %><%= task_fields.object.level.to_s() %></td>
 <td>
   <div class="field">
     <%= task_fields.text_field :name, size: 20 %>
  </div>
 </td>
 <td>
   <div class="field">
    <%= task_fields.text_area :description, cols: 35, rows: 1 %>
   </div>
 </td>
 <td>
  <div class="field">
    <%= task_fields.date_select :start_date %>
  </div>
 </td>
 <td>
  <div class="field">
    <%= task_fields.date_select :end_date %>
  </div>
 </td>
 <td>
  <div class="field">
    <%= task_fields.check_box :is_milestone %>
  </div>
 </td>
 <td>
  <div class="field">
    <%= task_fields.number_field :parent_task_id, size: 3 %>
  </div>
 </td>
 <td>
  <div class="field">
    <%= task_fields.number_field :level, size: 3 %>
  </div>
 </td>
 <td><%= link_to 'Delete', nav_delete_task_path(project_id: @project, task_id: task_fields.object), confirm: 'Are you sure you want to delete this task?' %></td>
</tr>
