<!--
<h1>Nav#canvas</h1>
<p>Find me in app/views/nav/canvas.html.erb</p>
-->
<h1>Project Canvas: <%= @project.title %></h1>

<p id="notice"><%= notice %></p>

<p>
  <!-- <h2>Project Details</h2> -->
  <h2><%= link_to 'Project Details ', nav_details_path(project_id: @project) %></h2>
</p>
<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Responsible group:</b>
  <%= @project.responsible_group %>
</p>

<p>
  <b>Cost centre:</b>
  <%= @project.cost_centre %>
</p>

<p>
<!--  <h2>Scope</h2> -->
  <h2><%= link_to 'Scope', nav_scope_path(project_id: @project) %></h2>
</p>
<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <h2><%= link_to 'Cost', nav_cost_path(project_id: @project) %></h2>
</p>
<p>
  <b>Budget:</b>
  <%= @project.budget %>
</p>

<p>
  <b>Contingency:</b>
  <%= @project.contingency %>
</p>

<p>
  <b>Budget accuracy:</b>
  <%= @project.budget_accuracy %>
</p>

<p>
  <h2><%= link_to 'Schedule', nav_schedule_path(project_id: @project) %></h2>
</p>
<p>
  <b>Start date:</b>
  <%= @project.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @project.end_date %>
</p>

<p>
  <!-- <h2>Communications</h2> -->
   <h2><%= link_to 'Communications', nav_communications_path(project_id: @project) %></h2>
</p>
<h3>Stakeholders</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Project role</th>
  </tr>

<% @project.stakeholders.where(:is_resource => false).each do |stakeholder| %>
  <tr>
    <td><%= stakeholder.name %></td>
    <td><%= stakeholder.project_role %></td>
  </tr>
<% end %>
</table>



<p>
  <h2><%= link_to 'Risk', nav_risk_path(project_id: @project) %></h2>
</p>

<h3>Project Risks</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @project.risks.order("name").each do |risk| %>
  <tr>
    <td><%= risk.name %></td>
    <td><%= risk.description %></td>
  </tr>
<% end %>
</table>


<p>
  <!-- <h2>Procurement</h2>    -->
  <h2><%= link_to 'Procurement', nav_procurement_path(project_id: @project) %></h2>
</p>
<p>
  <b>Procurement strategy:</b>
  <%= @project.procurement_strategy %>
</p>

<p>
  <h2>Quality</h2>
</p>

<p>
  <h2><%= link_to 'Resources', nav_resources_path(project_id: @project) %></h2>
</p>
<h3>Project Team</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Project role</th>
  </tr>

<% @project.stakeholders.where(:is_resource => true).each do |stakeholder| %>
  <tr>
    <td><%= stakeholder.name %></td>
    <td><%= stakeholder.project_role %></td>
  </tr>
<% end %>
</table>
<p>
<%= link_to 'Generate Project Charter', nav_charter_path(project_id: @project) %>
</p>

<p>
<%= link_to 'Back to Projects', nav_projects_path %>
</p>

<!--
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
-->
