<h1>Project Charter</h1>

<p id="notice"><%= notice %></p>

<h1><%= @project.title %></h1>

<p>
  <b>Responsible group:</b>
  <%= @project.responsible_group %>
</p>

<p>
  <b>Cost centre:</b>
  <%= @project.cost_centre %>
</p>

<p>
  <b>Project Sponsor:</b>
  <%= sponsors = @project.stakeholders.where("project_role = ?", "Project Sponsor");nil %>
  <%= if sponsors.exists? then
        sponsors.first.name
      else
        "No Sponsor Assigned"
      end %>
</p>

<p>
  <b>Project Manager:</b>
  <%= managers = @project.stakeholders.where("project_role = ?", "Project Manager");nil %>
  <%= if managers.exists? then
        managers.first.name
      else
        "No Project Manager Assigned"
      end %>
</p>

<p>
  <h2>Authorisation</h2>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Department</th>
    <th>Approved</th>
    <th>Date</th>
  </tr>
<% approvers = @project.stakeholders.where(:is_approver => true) %>
<% approvers.each do |stakeholder| %>
  <tr>
    <td><%= stakeholder.name %></td>
    <td><%= stakeholder.title %></td>
    <td><%= stakeholder.department %></td>
    <td><%= "Yes" %></td>
    <td><%= Date.today %></td>
  </tr>
<% end %>
</table>

<p>
  <h2>Project Purpose</h2>
  <%= @project.purpose %>
</p>
<!-- Project Purpose What, Why, under what constraints
Business needs  (Para) -->

<p>
  <h2>Stakeholders</h2>
</p>
<p>
  <h3>Key Stakeholders</h3>
</p>
<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Department</th>
    <th>Project role</th>
    <th>Stakeholder Group</th>
  </tr>
<% @project.stakeholders.where(:is_resource => false).each do |stakeholder| %>
  <tr>
    <td><%= stakeholder.name %></td>
    <td><%= stakeholder.title %></td>
    <td><%= stakeholder.department %></td>
    <td><%= stakeholder.project_role %></td>
    <td><%= stakeholder.stakeholder_group %></td>
  </tr>
<% end %>
</table>



By group
Name Group Influences/Expectations interest level, influence level
Stakeholder Requirements and Expectations (name/group)




<p>
  <h2>Scope</h2>
</p>
<p>
  <h3>Project Description</h3>
  <%= @project.description %>
</p>

  <h3>Work Breakdown Structure</h3>

<table>
  <tr>
<!--
    <th>ID</th>
    <th>Project</th>
    <th>Level</th>
    <th>Parent task</th>
-->
    <th>Index</th>
    <th>Name</th>
    <th>Description</th>
<!--
    <th>Start date</th>
    <th>End date</th>
-->
    <th>Is milestone</th>
<!--
    <th>Procurement method</th>
    <th>Budget</th>
  -->
  </tr>
<% @tasks.order("task_index").each do |task| %>
  <tr>
  <!--
    <td><%= task.id %></td>
    <td><%= task.project_id %></td>
    <td><%= task.level %></td>
    <td><%= task.parent_task_id %></td>
  -->
    <td><%= task.task_index.gsub(%r([1234567890]),'').gsub(%r([.]),'&nbsp&nbsp&nbsp').html_safe + task.task_index %></td>
    <td><%= task.task_index.gsub(%r([1234567890]),'').gsub(%r([.]),'&nbsp&nbsp&nbsp').html_safe + task.name %></td>
    <td><%= task.description %></td>
  <!--
    <td><%= task.start_date.to_s().split(' ').first %></td>
    <td><%= task.end_date.to_s().split(' ').first  %></td>
  -->  
    <td><%= task.is_milestone %></td>
   <!--
    <td><%= task.procurement_method %></td>
    <td><%= task.budget %></td>
    -->
  </tr>
<% end %>
</table>




Deliverables
Exclusions


<p>
  <h2>Cost</h2>
</p>
<p>
  <b>Budget:</b>
  <%= @project.budget %>
</p>

<p>
  <b>Contingency:</b>
  <%= @project.contingency %>
</p>

<p>
  <b>Budget accuracy:</b>
  <%= @project.budget_accuracy %>
</p>
Estimate
Breakdown
Process to reach cost


<p>
  <h2>Schedule</h2>
</p>

<p>
  <b>Start date:</b>
  <%= @project.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @project.end_date %>
</p>


  <h3>Milestones</h3>

<table>
  <tr>
<!--
    <th>ID</th>
    <th>Project</th>
    <th>Level</th>
    <th>Parent task</th>
-->
    <th>Name</th>
    <th>Description</th>
    <th>Date</th>
<!--
    <th>Procurement method</th>
    <th>Budget</th>
  -->
  </tr>
<% @tasks.where(:is_milestone => true).order("end_date").each do |task| %>
  <tr>
  <!--
    <td><%= task.id %></td>
    <td><%= task.project_id %></td>
    <td><%= task.level %></td>
    <td><%= task.parent_task_id %></td>
  -->

    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <td><%= task.end_date.to_s().split(' ').first  %></td>
   <!--
    <td><%= task.procurement_method %></td>
    <td><%= task.budget %></td>
    -->
  </tr>
<% end %>
</table>

Milestone Date Deliverable














<p>
  <h2>Success Metrics</h2>
</p>
Scope
Time
Cost
Quality
<p>
  <h2>Assumptions</h2>
</p>
List (Notes)
<p>
  <h2>Constraints</h2>
</p>
List (Notes)
<p>
  <h2>Risks</h2>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Delay</th>
    <th>Likelihood</th>
    <th>Consequence</th>
    <th>Mitigation</th>
  </tr>

<% @project.risks.order("name").each do |risk| %>
  <tr>
    <td><%= risk.name %></td>
    <td><%= risk.description %></td>
    <td><%= risk.cost %></td>
    <td><%= risk.delay %></td>
    <td><%= risk.likelihood %></td>
    <td><%= risk.consequence %></td>
    <td><%= risk.mitigation %></td>
  </tr>
<% end %>
</table>


<p>
  <h2>Procurement Strategy</h2>
<%= @project.procurement_strategy %>
<p>
  <h2>Resources</h2>
</p>
<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Department</th>
    <th>Project role</th>
  </tr>

<% @project.stakeholders.where(:is_resource => true).each do |stakeholder| %>
  <tr>
    <td><%= stakeholder.name %></td>
    <td><%= stakeholder.title %></td>
    <td><%= stakeholder.department %></td>
    <td><%= stakeholder.project_role %></td>
  </tr>
<% end %>
</table>
<p>
  <h2>Authority</h2>
</p>

<div>
<p><%= link_to 'Back to Project Canvas', nav_canvas_path(project_id: @project) %></p>
</div>