<!--
<h1>Nav#communications</h1>
<p>Find me in app/views/nav/communications.html.erb</p>
-->
<h1>Communications: <%= @project.title %></h1>

<p id="notice"><%= notice %></p>

<!-- START STAKEHOLDDERS -->

<h3>Project Stakeholders</h3>

<% @project.stakeholders.each do |stakeholder| %>         <!-- ENSURE THIS CODE CHECKS ERRORS SENT THROUGH FROM BOTH PROJECT AND STAKEHOLDERS -->
  <% if stakeholder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stakeholders.errors.count, "error") %> prohibited this stakeholder from being saved:</h2>

      <ul>
      <% stakeholder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<table>

  <table>
  <tr>
    <th>ID</th>
    <th>Project</th>
    <th>Name</th>
    <th>Title</th>
    <th>Department</th>
    <th>Project role</th>
    <th>Stakeholder group</th>
    <th>Is resource</th>
    <th>Is approver</th>
    <th></th>
  </tr>

  <%= form_for(@project, url: nav_update_stakeholders_path(project_id: @project, current_page: 'communications')) do |project_form| %>

    <%= project_form.fields_for :stakeholders, @project.stakeholders.order("name") do |stakeholder_fields| %>

        <tr>
         <td><%= stakeholder_fields.object.id %></td>
         <td><%= stakeholder_fields.object.project_id %></td>
         <td>
           <div class="field">
            <%= stakeholder_fields.text_field :name, size: 20 %>
          </div>
         </td>
         <td>
           <div class="field">
            <%= stakeholder_fields.text_field :title, size: 20 %>
          </div>
         </td>
         <td>
           <div class="field">
            <%= stakeholder_fields.text_field :department, size: 20 %>
          </div>
         </td>
         <td>
           <div class="field">
            <%= stakeholder_fields.text_field :project_role, size: 20 %>
          </div>
         </td>
         <td>
           <div class="field">
            <%= stakeholder_fields.text_field :stakeholder_group, size: 20 %>
          </div>
         </td>
         <td>
          <div class="field">
            <%= stakeholder_fields.check_box :is_resource %>
          </div>
         </td>
         <td>
          <div class="field">
            <%= stakeholder_fields.check_box :is_approver %>
          </div>
         </td>
         <td><%= link_to 'Delete', nav_delete_stakeholder_path(project_id: @project, stakeholder_id: stakeholder_fields.object, current_page: 'communications'), confirm: 'Are you sure you want to delete this stakeholder?' %></td>
        </tr>

  <% end %>

</table>

<p><%= link_to 'Create New Stakeholder', nav_new_stakeholder_path(project_id: @project, current_page: 'communications') %></p>
<div class="actions">
  <%= project_form.submit "Save Stakeholders" %>
<% end %>

<!-- END STAKEHOLDERS -->

<p><%= button_to 'Discard Changes', nav_canvas_path(project_id: @project), confirm: 'Are you sure you want to discard changes?'%></p>

<div>
<p><%= link_to 'Back to Project Canvas', nav_canvas_path(project_id: @project) %></p>
</div>