<!--
<h1>Nav#details</h1>
<p>Find me in app/views/nav/details.html.erb</p>
-->
<h1>Project Details: <%= @project.title %></h1>

<p id="notice"><%= notice %></p>

<%= form_for(@project, url: nav_update_project_path(project_id: @project, current_page: 'details')) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
<!--
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
-->
  <div class="field">
    <%= f.label :responsible_group %><br />
    <%= f.text_field :responsible_group %>
  </div>
  <div class="field">
    <%= f.label :cost_centre %><br />
    <%= f.text_field :cost_centre %>
  </div>
    <div class="field">
    <%= f.label :purpose %><br />
    <%= f.text_area :purpose, cols: 100, rows: 6%>
  </div>
<!--
  <div class="field">
    <%= f.label :budget %><br />
    <%= f.text_field :budget %>
  </div>
  <div class="field">
    <%= f.label :contingency %><br />
    <%= f.text_field :contingency %>
  </div>
  <div class="field">
    <%= f.label :budget_accuracy %><br />
    <%= f.text_field :budget_accuracy %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :procurement_strategy %><br />
    <%= f.text_area :procurement_strategy %>
  </div>
-->
  <div class="actions">
    <%= f.submit "Save Changes"%>
  </div>
<% end %>
<div>
<%= button_to 'Discard Changes', nav_details_path(project_id: @project), confirm: 'Are you sure you want to discard changes?'%>
</div>
<div>
<p><%= link_to 'Back to Project Canvas', nav_canvas_path(project_id: @project) %></p>
</div>
<!--
<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
-->