<!--
<h1>Nav#procurement</h1>
<p>Find me in app/views/nav/procurement.html.erb</p>
-->

<h1>Procurement: <%= @project.title %></h1>

<p id="notice"><%= notice %></p>

<%= form_for(@project, url: nav_update_project_path(project_id: @project, current_page: 'procurement')) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :procurement_strategy %><br />
    <%= f.text_area :procurement_strategy, cols: 100, rows: 6 %>
  </div>

  <div class="actions">
    <%= f.submit "Save Changes"%>
  </div>
<% end %>
<div>
<%= button_to 'Discard Changes', nav_procurement_path(project_id: @project), confirm: 'Are you sure you want to discard changes?'%>
</div>
<div>
<p><%= link_to 'Back to Project Canvas', nav_canvas_path(project_id: @project) %></p>
</div>
<!--
<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
-->