<!--
<h1>Nav#projects</h1>
<p>Find me in app/views/nav/projects.html.erb</p>
-->
<h1>Projects</h1>

<table>
  <tr> 

    <th>ID</th>

    <th>Title</th>
    <th>Description</th>
<!--
    <th>Responsible group</th>
    <th>Cost centre</th>
    <th>Budget</th>
    <th>Contingency</th>
    <th>Budget accuracy</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Procurement strategy</th>
    <th></th>
    <th></th>
    <th></th>
-->
  </tr>

<% @projects.each do |project| %>
  <tr>
<!--
    <td><%= link_to project.title, project %></td>
-->
    <td><%= project.id %></td>

    <td><%= link_to project.title, nav_canvas_path(project_id: project) %></td>     
    <td><%= project.description %></td>
<!--
    <td><%= project.title %></td>
    <td><%= project.description %></td>
    <td><%= project.responsible_group %></td>
    <td><%= project.cost_centre %></td>
    <td><%= project.budget %></td>
    <td><%= project.contingency %></td>
    <td><%= project.budget_accuracy %></td>
    <td><%= project.start_date %></td>
    <td><%= project.end_date %></td>
    <td><%= project.procurement_strategy %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Delete', project, confirm: 'Are you sure?', method: :delete %></td>
-->
    <td><%= link_to 'Delete', nav_delete_project_path(project_id: project), confirm: 'Are you sure you want to delete this project?' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Project', nav_new_project_path %>
