<!--
<h1>Nav#risk</h1>
<p>Find me in app/views/nav/risk.html.erb</p>
-->

<h1>Risk: <%= @project.title %></h1>

<p id="notice"><%= notice %></p>

<!-- START RISKS -->

<h3>Project Risks</h3>

<% @project.risks.each do |risk| %>         <!-- ENSURE THIS CODE CHECKS ERRORS SENT THROUGH FROM BOTH PROJECT AND RISKS -->
  <% if risk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@risks.errors.count, "error") %> prohibited this risk from being saved:</h2>

      <ul>
      <% risk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<table>

  <table>
  <tr>
    <th>ID</th>
    <th>Project</th>
    <th>Name</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Delay</th>
    <th>Likelihood</th>
    <th>Consequence</th>
    <th>Mitigation</th>
    <th></th>
  </tr>

<%= form_for(@project, url: nav_update_risks_path(project_id: @project)) do |project_form| %>

    <%= project_form.fields_for :risks, @project.risks.order("name") do |risk_fields| %>

        <tr>
         <td><%= risk_fields.object.id %></td>
         <td><%= risk_fields.object.project_id %></td>
         <td>
           <div class="field">
            <%= risk_fields.text_field :name, size: 20 %>
          </div>
         </td>
         <td>
           <div class="field">
            <%= risk_fields.text_area :description, cols: 30, rows: 1%>
          </div>
         </td>
         <td>
           <div class="field">
            <%= risk_fields.text_field :cost, size: 3 %>
          </div>
         </td>
         <td>
           <div class="field">
            <%= risk_fields.text_field :delay, size: 3 %>
          </div>
         </td>
         <td>
           <div class="field">
            <%= risk_fields.text_field :likelihood, size: 3 %>
          </div>
         </td>
          <td>
           <div class="field">
            <%= risk_fields.text_field :consequence, size: 3 %>
          </div>
         </td>
          <td>
           <div class="field">
            <%= risk_fields.text_area :mitigation, cols: 30, rows: 1%>
          </div>
         </td>
         <td><%= link_to 'Delete', nav_delete_risk_path(project_id: @project, risk_id: risk_fields.object), confirm: 'Are you sure you want to delete this risk?' %></td>
        </tr>

  <% end %>

</table>

<p><%= link_to 'Create New Risk', nav_new_risk_path(project_id: @project) %></p>
<div class="actions">
  <%= project_form.submit "Save Risks" %>
<% end %>

<!-- END RISKS -->

<p><%= button_to 'Discard Changes', nav_canvas_path(project_id: @project), confirm: 'Are you sure you want to discard changes?'%></p>

<div>
<p><%= link_to 'Back to Project Canvas', nav_canvas_path(project_id: @project) %></p>
</div>