<!--
<h1>Nav#scope</h1>
<p>Find me in app/views/nav/scope.html.erb</p>
-->
<h1>Project Scope: <%= @project.title %></h1>

<p id="notice"><%= notice %></p>

<%= form_for(@project, url: nav_update_project_path(project_id: @project, current_page: 'scope')) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
-->
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, cols: 100, rows: 10%>
  </div>
<!--
  <div class="field">
    <%= f.label :responsible_group %><br />
    <%= f.text_field :responsible_group %>
  </div>
  <div class="field">
    <%= f.label :cost_centre %><br />
    <%= f.text_field :cost_centre %>
  </div>
  <div class="field">
    <%= f.label :budget %><br />
    <%= f.text_field :budget %>
  </div>
  <div class="field">
    <%= f.label :contingency %><br />
    <%= f.text_field :contingency %>
  </div>
  <div class="field">
    <%= f.label :budget_accuracy %><br />
    <%= f.text_field :budget_accuracy %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :procurement_strategy %><br />
    <%= f.text_area :procurement_strategy %>
  </div>
-->
  <div class="actions">
    <%= f.submit "Save Description"%>
  </div>
<% end %>


<!-- START TASKS 2 -->

<h3>Work Breakdown Structure</h3>

<% @project.tasks.each do |task| %>         <!-- ESURE THIS CODE CHECKS ERRORS SENT THROUGH FROM BOTH PROJECT AND TASKS -->
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<table>

  <tr>
    <th>ID</th>
<!--
    <th>Project</th>
-->
    <th>Index</th>
    <th>Name</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Is Milestone</th>
    <th>Parent task</th>
    <th>Level</th>
<!--
    <th>Procurement method</th>
    <th>Budget</th>
    <th></th>
-->
    <th></th>
    <th></th>
  </tr>

  <%= form_for(@project, url: nav_update_tasks_path(project_id: @project)) do |project_form| %>

    <%= project_form.fields_for :tasks do |task_fields| %>

      <% if task_fields.object.level >= 0 %>
        <tr>
         <td><%= task_fields.object.id %></td>
         <td><%= "X." + task_fields.object.level.to_s() %></td>
         <td>
           <div class="field">
<!--
             <%= padding = ""
               level_count = 1
               while level_count < task_fields.object.level
                 padding = '+--- ' + padding
                 level_count += 1
               end
               padding %>
-->
            <%= task_fields.text_field :name, size: 20 %>
          </div>
         </td>
         <td>
           <div class="field">
            <%= task_fields.text_area :description, cols: 35, rows: 1 %>
           </div>
         </td>
         <td>
          <div class="field">
            <%= task_fields.date_select :start_date %>
          </div>
         </td>
         <td>
          <div class="field">
            <%= task_fields.date_select :end_date %>
          </div>
         </td>
         <td>
          <div class="field">
            <%= task_fields.check_box :is_milestone %>
          </div>
         </td>
         <td>
          <div class="field">
        <%= task_fields.number_field :parent_task_id, size: 3 %>
   <!--   <%= available_parents = @project.tasks
          task_fields.collection_select :parent_task_id, available_parents, :id, :id %>         -->
      <!--      <%= task_fields.collection_select :parent_task_id, @project.tasks, :id, :id %>      -->

     <!--       <%= task_fields.text_field :parent_task_id, size: 3 %>  -->
          </div>
         </td>

     <!--    <td><%= task_fields.object.parent_task_id %></td>   -->
    <!--     <td><%= task_fields.object.level %></td>        -->
         
         <td>
          <div class="field">
            <%= task_fields.number_field :level, size: 3 %>
          </div>
         </td>

    <!--
         <td><%= task_fields.object.procurement_method %></td>
         <td><%= task_fields.object.budget %></td>
         <td><%= link_to 'Show', task_fields.object %></td>
    -->
    <!--     <td><%= link_to 'Edit', edit_task_path(task_fields.object) %></td>             -->
         <td><%= link_to 'Delete', nav_delete_task_path(project_id: @project, task_id: task_fields.object), confirm: 'Are you sure you want to delete this task?' %></td>
        </tr>

    <% end %>

  <% end %>

</table>

<p><%= link_to 'Create New Task', nav_new_task_path(project_id: @project) %></p>
<div class="actions">
  <%= project_form.submit "Save Tasks" %>
<% end %>

<!-- END TASK2 -->

<p><%= button_to 'Discard Changes', nav_scope_path(project_id: @project), confirm: 'Are you sure you want to discard changes?'%></p>

<div>
<p><%= link_to 'Back to Project Canvas', nav_canvas_path(project_id: @project) %></p>
</div>
<!--
<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
-->