<!--
<h1>Nav#scope</h1>
<p>Find me in app/views/nav/scope.html.erb</p>
-->
<h1>Project Scope: <%= @project.title %></h1>

<p id="notice"><%= notice %></p>

<%= form_for(@project, url: nav_update_project_path(project_id: @project, current_page: 'scope')) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
-->
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, cols: 100, rows: 10%>
  </div>
<!--
  <div class="field">
    <%= f.label :responsible_group %><br />
    <%= f.text_field :responsible_group %>
  </div>
  <div class="field">
    <%= f.label :cost_centre %><br />
    <%= f.text_field :cost_centre %>
  </div>
  <div class="field">
    <%= f.label :budget %><br />
    <%= f.text_field :budget %>
  </div>
  <div class="field">
    <%= f.label :contingency %><br />
    <%= f.text_field :contingency %>
  </div>
  <div class="field">
    <%= f.label :budget_accuracy %><br />
    <%= f.text_field :budget_accuracy %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :procurement_strategy %><br />
    <%= f.text_area :procurement_strategy %>
  </div>
-->
  <div class="actions">
    <%= f.submit "Save Changes"%>
  </div>
<% end %>
<div>

<!-- START TASKS 2 -->

<h3>Work Breakdown Structure</h3>


<% @project.tasks.each do |task| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<table>
  <tr>
    <th>ID</th>
<!--
    <th>Project</th>
-->
    <th>Name</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>M</th>
    <th></th>
    <th>Level</th>
    <th>Parent task</th>
<!--
    <th>Procurement method</th>
    <th>Budget</th>
    <th></th>
-->
    <th></th>
    <th></th>
  </tr>



<% @project.tasks.each do |task| %>
<% if task.level > 0 %>
  <tr>
    <td><%= task.id %></td>
<!--
    <td><%= task.project_id %></td>
    <td><%= task.name %></td>
-->
    <%= form_for(task) do |f| %>
       <td>
         <div class="field">
           <%= padding = ""
             level_count = 1
             while level_count < task.level
               padding = '+--- ' + padding
               level_count += 1
             end
             padding %>
          <%= f.text_field :name, size: 20 %>
        </div>
       </td>
       <td>
         <div class="field">
          <%= f.text_area :description, cols: 35, rows: 1 %>
         </div>
       </td>
       <td>
        <div class="field">
          <%= f.date_select :start_date %>
        </div>
       </td>
       <td>
        <div class="field">
          <%= f.date_select :end_date %>
        </div>
       </td>
       <td>
        <div class="field">
          <%= f.check_box :is_milestone %>
        </div>
       </td>
       <td>
        <div class="actions">
         <%= f.submit "Update" %>
        </div>
      </td>
    <% end %>
    <td><%= task.level %></td>
    <td><%= task.parent_task_id %></td>
<!--
    <td><%= task.procurement_method %></td>
    <td><%= task.budget %></td>
    <td><%= link_to 'Show', task %></td>
-->
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>

<!-- END TASK2 -->

<%= button_to 'Discard Changes', nav_scope_path(project_id: @project), confirm: 'Are you sure you want to discard changes?'%>
</div>
<div>
<p><%= link_to 'Back to Project Canvas', nav_canvas_path(project_id: @project) %></p>
</div>
<!--
<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
-->