<%- model_class = @project.class -%>

<div class="dashboard_header well">
			<%= @project.title%>
	</div>
	
<div class="well dashboard_background" style="padding: 8px 0;">
						<ul class="nav nav-list">
							<li>
								<%= link_to raw("<i class='icon-white icon-home'></i> Project Canvas") , project_path(@project, :view => 'overview')%>
							</li>
							<li>
								<%= link_to raw("<i class='icon-file'></i> Project Details") , project_path(@project, :view => 'details')%>
							</li>
							<li>
							  <%= link_to raw("<i class='icon-resize-full'></i> Scope") , project_path(@project, :view => 'scope')%>
							</li>
							<li>
								<%= link_to raw("<i class='icon-check'></i> Milestones") , project_tasks_path(@project)%>							
							</li>
							<li>
								 <%= link_to raw("<i class='icon-dollar'></i> Cost") , project_path(@project, :view => 'cost')%>
							</li>
							<li>
								<%= link_to raw("<i class='icon-time'></i> Schedule") , project_path(@project, :view => 'schedule')%>
							</li>
							<li>
								<%= link_to raw("<i class='icon-user'></i> Stakeholders") , project_stakeholders_path(@project, :view => 'stakeholders')%>
							</li>
							<li>
								<%= link_to raw("<i class='icon-fire'></i> Risks") , project_risks_path(@project)%>
							</li>
							<li>
					
								<%= link_to raw("<i class='icon-shopping-cart'></i> Procurement") , project_path(@project, :view => 'procurement')%>
							</li>
							<li>
					
								<%= link_to raw("<i class='icon-map-marker'></i> Resources") , project_stakeholders_path(@project, :view => 'resources')%>
							</li>
							
							<li>
								<%= link_to raw("<i class='icon-envelope'></i> Communication") , project_stakeholders_path(@project, :view => 'communication')%>
							</li>

						</ul>
					</div>
