<div class="navbar navbar-fixed-top ">
  <div class="navbar-inner">
    <div class="container navigation-offset-left">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "PIMS" , projects_path , :class=>'brand'%>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Projects List" , projects_path%></li>
        </ul>
      </div>
    </div>
  </div>
</div> 
