<!DOCTYPE html>
<html>
<head>
   <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "datepicker" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
     <%= javascript_include_tag "jquery" %>
     <%= javascript_include_tag "jquery.min" %>
     <%= javascript_include_tag "jquery-ui" %>
     <%= javascript_include_tag "bootstrap-datepicker" %>

     <%= javascript_include_tag 'nestedsortables.min' %>

  <script type="text/javascript" charset="utf-8">
    $(function() {
      $("#sortable").nestedSortable({
        listType: 'ul',
        items: 'li',
        placeholder: "highlight",
        forcePlaceholderSize: true,
        handle: 'div',
        helper: 'clone',
        opacity: .6,
        revert: 250,
        tabSize: 45,
        tolerance: 'pointer',
        toleranceElement: '> div',
        connectWith: '#sortable',
              
      update: function () {
        list = $(this).nestedSortable('toHierarchy', {startDepthCount: 0});
        c = {set : JSON.stringify($('#sortable').nestedSortable('toHierarchy', {startDepthCount: 0}))};
        $.post(
            'tasks/savesort',
            c,
            function(data){
            
              // Automatic refreshing page - there are other approaches, but leave this as a demo for now
              window.location.href= "tasks";
            },
            "html"
        );
    }
      });
      $("#sortable").disableSelection(); // make links not clickable
      $('#serialize').click(function (){
      
        // START CODE FOR REFRESHING TASKS ON PUSH OF BUTTON - left for just in case needed later - just call url #serialize
        
        var c = {set : JSON.stringify($('#sortable').nestedSortable('toHierarchy', {startDepthCount: 0}))};
        var post_link = "tasks/savesort";
        $.post(post_link, c, $('#output').html('<p id="flash_notice">Saved Successfully</p>'));
        
        var form = document.createElement("form");
        form.setAttribute("method", "method");
        form.setAttribute("action", "tasks");
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden"); // 'hidden' is the less annoying html data control
        hiddenField.setAttribute("name", "json_data");
        hiddenField.setAttribute("value", c);
        form.appendChild(hiddenField); // append the newly created control to the form
        
        document.body.appendChild(form); // inject the form object into the body section
        form.submit();
    
        eturn false;
      });
    });
    
    

  </script>

  
  <title><%= if @project.nil? or @project.title.nil? then "PIMS" else @project.title + " - PIMS" end%></title>   
  
</head>
<body>

<div class="container-fluid">
<%= render :partial => 'layouts/header' %>  
    <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        </div>
    <% end %>

    <div class="row">
        <div class="span2 span-dashboard">
          <%if !@project.nil? && !@project.new_record?%>
			      <%= render :partial => 'layouts/dashboard' %>  
		
			    <%else%>
			       <%= " "%>
			    <%end%>
			
		    </div>
		    <div class="span1">
		      &nbsp;
		    </div>
		    <div class="span8">
			    <%= yield %>
		    </div>
		
	</div>
</div>

<%= render :partial => 'layouts/footer' %>  

</body>
</html>
