<!DOCTYPE html>
<html>
<head>
  <title>Project Charter</title>
   <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  
  
</head>
<body>




<div class="container navigation-offset-left">
    <div class="row">
          <%if !@project.nil? && !@project.new_record?%>

		<div class="span8">
			<%= yield %>
		</div>
          <%end%>
		
	</div>
</div>
   

</body>
</html>

